@keyframes slide-right{
    0%{
        transform:translateX(-50%);
        opacity: 0;
    }
    50%{
        opacity: 0.2;
    }
    100%{
        transform:translateX(0);
        opacity: 1;
    }
}

.container{
    width: 310px;
    margin: 0 auto;
}

.logo{
    font-size: 20px;
    color: rgb(99, 99, 99);

}

.logo-text{
    color: rgb(50, 151, 151);
}

#search-form{
    padding: 20px 0 ;
}

.form-input{
    padding: 5px;
}

.submit-btn{
    font-size: 14px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(50, 151, 151);
    color: rgb(255, 255, 255);
    width: 80px;
    height: 35px;
}

.gallery-img{
    animation: 2s ease slide-right;
}

.gallery-img-wrapper:hover .overlay {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s, visibility 0.4s;
}

.gallery-item{
    animation: 1s ease slide-right;
    margin-bottom: 20px;

}

.gallery-img-wrapper{
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(85, 85, 85, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    border: 10px solid rgba(255, 255, 255, 0.5);
    background-clip: padding-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: opacity 0.5s, visibility 0.5s;
    cursor: pointer;
}

.stats{
    padding-top: 10px;
}

.stats-item{
    color: rgb(50, 151, 151);;
    display: flex;
    align-items: center;
}

.overlay-stats-item{
    color: white;
}

.material-icons{
    padding-right: 10px
}

.loadmore-btn{
    font-size: 14px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(50, 151, 151);
    color: rgb(255, 255, 255);
    width: 100px;
    height: 35px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

.is-hidden{
    display: none;
}

.modal-img-wrap{
    background-color: aliceblue;

}

.modal-text{
    font-size: 20px;
    padding: 10px;
}

@media(max-width: 760px){
    .header{
        width: 310px;
        margin: 0 auto;
    }
    .logo{
        display: block;
        padding-top: 20px;
    }
    .gallery-img{
        width: 100%;
    }
}

@media(min-width: 768px){
    .container{
        width: 740px;
    }

    .header{
        display: flex;
        align-items: center;
        margin-left: 20px;
    }

    .logo{
        margin-right: 10px;
    }

    .form-input{
        width: 500px;
    }

    .gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .photo-card{
        width: 260px;
    }
    
}

@media(min-width: 1240px){
    .container{
        width: 1200px;
    }
    
    .modal-img{
        max-width: 42vw;
    }
}

@media(min-width: 2000px){
    .header{
        width: 50%;
        margin: 0 auto;
    }
}